<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll me back soon</h1>
    <p>The site is being currenly being updated</p>
  </body>
</html>
